* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color1: #333333;
    --color2: #eeeeee;
    --color3: #222222;
    --gradient-red: linear-gradient(90deg, hsl(7, 89%, 46%) 15%, hsl(11, 93%, 68%) 100%);
    --gradient-orange: linear-gradient(90deg, hsl(22, 89%, 46%) 15%, hsl(54, 90%, 68%) 100%);
    --gradient-yellow: linear-gradient(90deg, hsl(54, 89%, 46%) 15%, hsl(92, 90%, 45%) 100%);
    --gradient-green: linear-gradient(90deg, hsl(92, 89%, 46%) 15%, hsl(92, 90%, 68%) 100%);
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: var(--color1);
    color: var(--color2);
}

.battery {
    height: 100vh;
    margin: 0 1.5rem;
    display: grid;
    place-items: center;
}

.Bcard {
    position: relative;
    width: 270px;
    height: 240px;
    padding: 0.5rem 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border-radius: 1.5rem;
    background-color: var(--color3);
    box-shadow: 0px 0px 5px var(--color2);
}

.Btext {
    margin-bottom: 0.5rem;
}

.Bpercentage {
    font-size: 2.5rem;
}

.Bstatus {
    position: absolute;
    bottom: 3.5rem;
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
    font-size: 0.8rem;
}

.material-icons {
    font-size: 1.25rem;
}

.Bpill {
    position: relative;
    width: 75px;
    height: 180px;
    justify-self: flex-start;
    border-radius: 2rem;
    background-color: var(--color3);
    box-shadow: inset 20px 0 48px hsl(0, 0%, 16%), inset -4px 12px 48px hsl(0, 0%, 56%);
}

.Blevel {
    position: absolute;
    inset: 2px;
    border-radius: 2rem;
    overflow: hidden;
}

.Bliquid {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 36px;
    background: var(--gradient-red);
    box-shadow: inset -10px 0 12px hsla(0, 0%, 0%, 0.1), inset 12px 0 12px hsla(0, 0%, 0%, 0.15);
    transition: 0.3s;
}

.Bliquid::after {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    right: 0;
    height: 8px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: inset 0 -3px 6px hsla(0, 0%, 0%, 0.2);
}

.green-color {
    background: var(--gradient-green);
}

.animated-green {
    background: var(--gradient-green);
    animation: animated-charging 1.2s infinite alternate;
}

.animated-red {
    background: var(--gradient-red);
    animation: animated-low 1.2s infinite alternate;
}

.animated-green,
.animated-red,
.green-color {
    --webkit-background-clip: text;
    color: transparent;
}

@keyframes animated-charging {
    0% {
        text-shadow: none;
    }
    100% {
        text-shadow: 0 0 6px hsl(92, 90%, 68%);
    }
}

@keyframes animated-low {
    0% {
        text-shadow: none;
    }
    100% {
        text-shadow: 0 0 8px hsl(7, 89%, 46%);
    }
}

.gradient-red,
.gradient-red::after {
    background: var(--gradient-red);
}

.gradient-green,
.gradient-green::after {
    background: var(--gradient-green);
}

.gradient-orange,
.gradient-orange::after {
    background: var(--gradient-orange);
}

.gradient-yellow,
.gradient-yellow::after {
    background: var(--gradient-yellow);
}